.u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("images/EvK9EyFXIAcJzef.jfif");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 2179px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-style: italic;
  width: 270px;
  margin: 69px auto 0;
}

.u-section-1 .u-gallery-1 {
  height: 1888px;
  grid-gap: 17px 17px;
  margin: 87px 0 0;
}

.u-section-1 .u-gallery-inner-1 {
  grid-template-columns: auto auto auto auto;
  grid-gap: 17px 17px;
}

.u-section-1 .u-gallery-item-1 {
  box-shadow: 0 0 8px 0 rgba(128,128,128,1);
}

.u-section-1 .u-back-slide-1 {
  transition-duration: 1.5s;
}

.u-section-1 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-gallery-item-2 {
  box-shadow: 0 0 8px 0 rgba(128,128,128,1);
}

.u-section-1 .u-back-slide-2 {
  transition-duration: 1.5s;
}

.u-section-1 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-gallery-item-3 {
  margin-top: 0;
  margin-bottom: 0;
  box-shadow: 0 0 8px 0 rgba(128,128,128,1);
}

.u-section-1 .u-back-slide-3 {
  transition-duration: 1.5s;
}

.u-section-1 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-gallery-item-4 {
  box-shadow: 0 0 8px 0 rgba(128,128,128,1);
}

.u-section-1 .u-back-slide-4 {
  transition-duration: 1.5s;
}

.u-section-1 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-gallery-item-5 {
  box-shadow: 0 0 8px 0 rgba(128,128,128,1);
}

.u-section-1 .u-back-slide-5 {
  transition-duration: 1.5s;
}

.u-section-1 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-gallery-item-6 {
  box-shadow: 0 0 8px 0 rgba(128,128,128,1);
}

.u-section-1 .u-back-slide-6 {
  transition-duration: 1.5s;
}

.u-section-1 .u-back-image-6 {
  object-position: 75.36% 50%;
}

.u-section-1 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-gallery-item-7 {
  box-shadow: 0 0 8px 0 rgba(128,128,128,1);
}

.u-section-1 .u-back-slide-7 {
  transition-duration: 1.5s;
}

.u-section-1 .u-over-slide-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-gallery-item-8 {
  box-shadow: 0 0 8px 0 rgba(128,128,128,1);
}

.u-section-1 .u-back-slide-8 {
  transition-duration: 1.5s;
}

.u-section-1 .u-back-image-8 {
  object-position: 50% 18.72%;
}

.u-section-1 .u-over-slide-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-gallery-item-9 {
  box-shadow: 0 0 8px 0 rgba(128,128,128,1);
}

.u-section-1 .u-back-slide-9 {
  transition-duration: 1.5s;
}

.u-section-1 .u-over-slide-9 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-gallery-item-10 {
  margin-top: 0;
  margin-bottom: 0;
  box-shadow: 0 0 8px 0 rgba(128,128,128,1);
}

.u-section-1 .u-back-slide-10 {
  transition-duration: 1.5s;
}

.u-section-1 .u-back-image-10 {
  object-position: 38.43% 50%;
}

.u-section-1 .u-over-slide-10 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-gallery-item-11 {
  box-shadow: 0 0 8px 0 rgba(128,128,128,1);
}

.u-section-1 .u-back-slide-11 {
  transition-duration: 1.5s;
}

.u-section-1 .u-back-image-11 {
  object-position: 11.11% 50%;
}

.u-section-1 .u-over-slide-11 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-gallery-item-12 {
  box-shadow: 0 0 8px 0 rgba(128,128,128,1);
}

.u-section-1 .u-back-slide-12 {
  transition-duration: 1.5s;
}

.u-section-1 .u-over-slide-12 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-gallery-item-13 {
  box-shadow: 0 0 8px 0 rgba(128,128,128,1);
}

.u-section-1 .u-back-slide-13 {
  transition-duration: 1.5s;
}

.u-section-1 .u-over-slide-13 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-gallery-item-14 {
  box-shadow: 0 0 8px 0 rgba(128,128,128,1);
}

.u-section-1 .u-back-slide-14 {
  transition-duration: 1.5s;
}

.u-section-1 .u-over-slide-14 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-gallery-item-15 {
  box-shadow: 0 0 8px 0 rgba(128,128,128,1);
}

.u-section-1 .u-back-slide-15 {
  transition-duration: 1.5s;
}

.u-section-1 .u-over-slide-15 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-gallery-item-16 {
  box-shadow: 0 0 8px 0 rgba(128,128,128,1);
}

.u-section-1 .u-back-slide-16 {
  transition-duration: 1.5s;
}

.u-section-1 .u-over-slide-16 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-gallery-item-17 {
  box-shadow: 0 0 8px 0 rgba(128,128,128,1);
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-back-slide-17 {
  transition-duration: 1.5s;
}

.u-section-1 .u-back-image-17 {
  object-position: 50% 50%;
}

.u-section-1 .u-over-slide-17 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-gallery-item-18 {
  box-shadow: 0 0 8px 0 rgba(128,128,128,1);
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-back-slide-18 {
  transition-duration: 1.5s;
}

.u-section-1 .u-back-image-18 {
  object-position: 50% 56.8%;
}

.u-section-1 .u-over-slide-18 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-gallery-item-19 {
  box-shadow: 0 0 8px 0 rgba(128,128,128,1);
}

.u-section-1 .u-back-slide-19 {
  transition-duration: 1.5s;
}

.u-section-1 .u-over-slide-19 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-gallery-item-20 {
  box-shadow: 0 0 8px 0 rgba(128,128,128,1);
}

.u-section-1 .u-back-slide-20 {
  transition-duration: 1.5s;
}

.u-section-1 .u-over-slide-20 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-btn-1 {
  margin: 20px auto 31px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1466px;
  }

  .u-section-1 .u-gallery-1 {
    height: 1557px;
    grid-template-columns: auto auto auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-gallery-inner-1 {
    grid-template-columns: repeat(4, auto);
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 835px;
  }

  .u-section-1 .u-gallery-1 {
    height: 4770px;
    grid-template-columns: auto auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1696px;
  }

  .u-section-1 .u-gallery-1 {
    height: 14310px;
    margin-top: 100px;
    grid-template-columns: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1122px;
  }

  .u-section-1 .u-gallery-1 {
    height: 9010px;
    margin-right: initial;
    margin-left: initial;
  }
}